* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "arial", "sans-serif";
  background: #f4f4f4;
}

.dashboard {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header" "sidebar sidebar";
  -ms-grid-columns: 200px 1fr;
  grid-template-columns: 200px 1fr;
  -ms-grid-rows: 60px 1fr;
  grid-template-rows: 60px 1fr;
  height: 100vh;
}
.dashboard .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background: #3498db;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dashboard .sidebar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: sidebar;
  background: #2ecc71;
  padding: 20px;
}
.dashboard .sidebar ul {
  list-style: none;
}
.dashboard .sidebar ul li ::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #000;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.dashboard .sidebar ul li {
  margin: 10px 0;
  position: relative;
  cursor: pointer;
}
.dashboard .sidebar ul li a {
  color: white;
  text-decoration: none;
}
.dashboard .sidebar ul li:hover::after {
  width: 100%;
  background-color: aquamarine;
}
.dashboard .content {
  grid-area: content;
  padding: 20px;
}
.dashboard .content .card {
  background: white;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}