@mixin flex-center (){
    display: flex;
    justify-content: center;
    align-items: center;

}

@mixin card-style{
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);   
}

@mixin config-inicial( $padding:0,$margin:0 ){
    padding: $padding;
    margin: $margin;
    box-sizing: border-box;
}